@import './chatui.scss';

.header-custom {
  ion-toolbar {
    --min-height: 66px;
  }
}

.user-name {
  font-weight: 400;
  font-size: 12px;
}

.time {
  float: right;
  font-size: .8rem;
  margin-top: 8px;
  display: block;
}

.match-info {
  font-size: var(--font-size-sm);
}

.chat-item-status  {
  ion-icon {
    font-size: 18px;
  }
  display: flex;
}

ion-content {
  height: calc(100% - 250px);
}


@media (min-width: 768px)  {
  ion-title {
    .wrap {
      display: flex;
      align-items: center;
      .user-name {
        font-size: 42px;
        font-weight: 600;
      }
    }
  }
}
