<ion-header class="header-custom">
    <ion-toolbar class="toolbar-no-border">
        <ion-buttons class="mobile" slot="start">
            <ion-button class="dismiss" (click)="close()">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons class="desktop" slot="end">
            <ion-button class="dismiss" (click)="close()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            <div class="wrap" *ngIf="generalService.isDesktop()">
                <ng-content *ngTemplateOutlet="template"></ng-content>
            </div>
                <ng-content *ngTemplateOutlet="!generalService.isDesktop()?template:null"></ng-content>
            
            <div class="wrap">
                <ng-template #template>
                <random-avatar (click)="viewProfile(chatService.interlocutor)" [user]="chatService.interlocutor" [photo]="userService.getMainPhoto(chatService.interlocutor)" [size]="'sm'">
                </random-avatar>
                <div class="user-name" (click)="viewProfile(chatService.interlocutor)">{{chatService.interlocutor?.username}}</div>
            </ng-template>
            </div>
        </ion-title>
        <!--<ion-buttons slot="end">
            <ion-button color="secondary">
                <ion-icon slot="icon-only" name="shield"></ion-icon>
            </ion-button>
        </ion-buttons>-->
    </ion-toolbar>
</ion-header>
<ion-content #content class="ion-padding">
    <div class="chat-list">
        <div class="no-results" *ngIf="blockedMessage">
            {{blockedMessage}}
        </div>
        <ng-container *ngIf="chat$ | async as chat">
            <div class="chat-item" *ngFor="let item of chat.messages; trackBy: trackByCreated; index as i"
                 [ngClass]="{'chat-item-outgoing': item.uid !== userService.user.id}">
                <div *ngIf="item.imageRequest === false && item?.date" class="chat-timestamp center">
                    <strong>{{item?.date}}</strong>
                </div>
                <div *ngIf="item.imageRequest === false" class="chat-item-inner">
                    <!--<div class="chat-avatar" *ngIf="item.uid !== userService.user.id">
                        <img [src]="item.avatar">
                    </div>-->
                    <div class="chat-body">
                        <div class="chat-item-bubble" [ngClass]="{'bubble-image': item.type === 'image'}">
                            <div class="chat-text" *ngIf="item.type !== 'image'"
                                 [innerHtml]="nl2br(item.content)"></div>
                            <ion-img tappable (click)="openPreview(item.content)" [src]="item.content" *ngIf="item.type === 'image'"></ion-img>
                        </div>
                        <div class="chat-item-status">
                            <div *ngIf="item.uid === userService.user.id">
                                <ion-icon *ngIf="item.delivered" name="checkmark-done-circle" color="secondary"></ion-icon>
                                <ion-icon  *ngIf="!item.delivered" name="checkmark-outline" color="secondary"></ion-icon>
                            </div>
                            <!--נשלח--><div class="time">{{item.time}}</div> 
                        </div>
                    </div>

                    <!-- <div class="chat-item-reaction" *ngIf="item.uid === userService.user.id && item.type === 'image'">
                        <ion-icon name="heart-outline"></ion-icon>
                    </div> -->
                </div>
            </div>
            <div *ngIf="!updatedDialogue" class="chat-item" >
              <div class="chat-item-inner">
                <div  class="chat-body">
                    <div class="chat-item-bubble">
                        <div class="chat-text">{{temporaryMessage}}</div>
                    </div>
               </div>
               </div>
            </div>
        </ng-container>
    </div>
</ion-content>

<ion-footer *ngIf="!blockedMessage">
    <ion-toolbar class="toolbar-no-border">
        <div class="form">
            <ion-textarea placeholder="הודעה" rows="1" (ionChange)="validateMessage()" [(ngModel)]="newMsg"></ion-textarea>
            <!-- <div (click)="chooseImage()" class="btn-img-send">
                <ion-icon name="image-outline"></ion-icon>
            </div> -->
            <button [ngClass]="{'visible': newMsg?.length > 0}" class="btn" (click)="submit()">שלח</button>
        </div> 
        <!--<input-with-giphy
                (onSubmit)="submit(chat?.id)"
                (onSizeChange)="onInputSizeChange()">
        </input-with-giphy>-->
    </ion-toolbar>
</ion-footer>
