/* Chat UI v2.0.0 */
.chat-list {
  padding: 0 18px;

  .chat-timestamp {
    font-size: 12px;
    color: var(--ion-color-medium);

    strong {
      background: #131242;
      padding: 4px 12px;
      border-radius: 25px;
      width: 120px;
      display: inline-block;
      color: #fff;
      font-weight: 400;
    }

    &.center {
      text-align: center;
      margin: 8px 0;
    }
  }

  .chat-item {
    margin-bottom: 12px;

    &:not(.chat-item-outgoing) {
      .chat-item-inner {
        flex-direction: row-reverse;
      }
    }

    &.chat-item-outgoing {
      //text-align: right;
      .chat-item-bubble .chat-text {
        border-radius: 20px 20px 0px 20px;
        background: rgb(17, 17, 43);
        color: #fff;
      }
    }

    .chat-item-inner {
      display: flex;
    }

    .chat-avatar {
      align-self: flex-end;
      margin-right: 8px;
      margin-bottom: 16px;
      width: 40px;
      height: 40px;

      ion-img {
        display: inline-block;
        border-radius: 50%;
      }
    }

    .chat-body {
      max-width: 75%;
    }

    .chat-item-status {
      font-size: 12px;
      color: var(--ion-color-medium);

      ion-icon {
        position: relative;
        top: 2px;
      }
    }

    .chat-item-bubble {
      position: relative;
      margin-bottom: 4px;

      .chat-text {
        display: inline-block;
        padding: 12px 16px;
        white-space: normal;
        max-width: 100%;
        text-align: right;
        border-radius: 20px 20px 20px 0;
        background: #8a50ff;

        ion-img {
          width: 100%;
          max-width: 480px;
          border-radius: 16px;
        }
      }

      &.bubble-image {
        font-size: 0;
        border-radius: 20px;
        overflow: hidden;
      }
    }

    .chat-item-reaction {
      margin-left: 8px;
      margin-bottom: 16px;
      font-size: 24px;
      color: var(--ion-color-medium);
      align-self: flex-end;
    }
  }
}

ion-footer {
  .form {
    display: flex;
    button {
      background: transparent;
      font-size: 16px;
      outline: none;
      color: #fff;
    }

    ion-textarea {
      border-radius: 17px;
      border: 1px solid rgba(0, 0, 0, 0.05);
          background: #131142;
      --background: #131142;
      --padding-start: 8px;
      --padding-end: 8px;
      --padding-top: 6px;
      --padding-bottom: 8px;
      padding-left: var(--padding-start);
      padding-right: var(--padding-end);
      padding-top: var(--padding-top);
      padding-bottom: 0;
      outline: none;
      width: 100%;
      max-width: 100%;
      max-height: 100%;
    }

    .btn-img-send {
      display: inline-block;
      position: absolute;
      left: -3px;
      top: 0px;
      font-size: 21px;
      padding: 8px 20px;
      z-index: 99999;
    }
  }
}
