
<ion-content force-overscroll="false" class="landing-page bg-gradient">
    <ion-header>
        <div (click)="getSmsLinkForm()" class="download-btn">
            להוריד את האפליקציה
        </div>
        <div class="logo title">Joyme</div>
    </ion-header>
    <div class="container desktop-res central-container">
        <div class="box">
            <div class="text">
                <div class="slogan">
                    <span class="logo title">Joyme</span> <br>
                    אפליקציית ההיכרויות<br/> המושלמת לסווינגרס<br/> למציאת והחלפת זוגות
                </div>
                <div class="sub-slogan">
                    הכירו את סוג האנשים שאתם מחפשים והשלימו את מערכת <br/> היחסים שלכם באפליקציית ההיכרויות הטובה ביותר עבורכם
                </div>
                <div class="rating">
                    אהוב על אלפי אנשים <ion-icon name="thumbs-up-sharp"></ion-icon>
                    <div class="stars">
                        <ion-icon name="star-half"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                    </div>
                    <span class="rating__number">4.4</span> מתוך 5
                </div>
            </div>
            <div class="btn-stores">
                <div class="btn-store app_store">
                    <span (click)="getSmsLinkForm()"><ion-img width="140" height="50" src="https://taimi.com/themes/taimi/assets/images/app_store.svg"></ion-img></span>
                </div>
                <div class="btn-store google_play">
                    <span (click)="getSmsLinkForm()" class="right"><ion-img width="155" height="50" src="https://taimi.com/themes/taimi/assets/images/google_play.svg"></ion-img></span>
                </div>
            </div>
        </div>
        <div class="box">
            <ion-img class="img-phone" height="600" src="assets/img/phone.png"></ion-img>
        </div>
    </div>
    <div class="vertical-layout safe-area-bottom mobile-res">
        <div class="section-brand">
            <div class="logo title">
                JoyMe
                <div class="subtitle">אפליקציה להחלפת זוגות</div>
            </div>
        </div>
        <div class="section-buttons ion-padding">
            <div *ngIf="showCodeFormStatus === 0" class="ion-padding">
                לחיצה על כפתור כניסה או הרשמה מהווה את הסכמתך <span (click)="getPage('terms-and-conditions')" class="link">לתנאים</span> שלנו
            </div>
            <div *ngIf="showCodeFormStatus === 0">
                <ion-button
                        expand="block"
                        fill="outline"
                        color="white"
                        shape="round"
                        class="button-landing ion-margin-bottom"
                        (click)="codeFormStatus(1)"
                >

                    הרשמה חינם
                </ion-button>
                <ion-button
                        expand="block"
                        fill="outline"
                        color="white"
                        shape="round"
                        class="button-landing ion-margin-bottom"
                        (click)="codeFormStatus(1)"
                >
                    כניסה
                </ion-button>
                <!--<ion-button
                        expand="block"
                        fill="outline"
                        color="white"
                        shape="round"
                        class="button-landing ion-margin-bottom"
                        appGoogleSignin>
                    <img src="/assets/img/google-logo.svg"/>
                    כניסה באמצעות גוגל
                </ion-button>-->
            </div>
        
            <form class="phone-form" *ngIf="showCodeFormStatus === 1" [formGroup]="phoneForm"
                  (ngSubmit)="logIn(phoneForm)">
                  <span class="phone-notice">למספר הזה ישלח הודע לאישור החשבון</span>
                <div class="form-group">
                    <div class="country-code">+972</div>
                    <ion-input type="number" #phone placeholder="הכנס מספר טלפון" formControlName="phone"
                               class="form-control ion-margin-vertical" id="phone"></ion-input>
                </div>

                    <ion-button
                            expand="block"
                            fill="outline"
                            color="white"
                            type="submit"
                            shape="round"
                            class="button-landing ion-margin-bottom">
                        <ion-spinner *ngIf="loadingSpinner"></ion-spinner>
                        <span *ngIf="!loadingSpinner">קבל קוד</span>
                    </ion-button>
            </form>
            <form *ngIf="showCodeFormStatus === 2" [formGroup]="codeForm" (ngSubmit)="verifyCode(codeForm)">
                <div class="form-group">
                    <ion-input placeholder="הזן את הקוד כאן" formControlName="code"
                               class="form-control ion-margin-bottom"
                               id="code"></ion-input>
                </div>
                <div class="form-group">
                    <ion-button
                            expand="block"
                            fill="outline"
                            color="white"
                            type="submit"
                            shape="round"
                            class="button-landing ion-margin-bottom">
                        <ion-spinner *ngIf="loadingSpinner"></ion-spinner>
                        <span *ngIf="!loadingSpinner">אמת קוד</span>
                    </ion-button>
                </div>
            </form>
            <ion-button
                    *ngIf="showCodeFormStatus !== 0"
                    (click)="codeFormStatus(0)"
                    fill="outline"
                    color="white"
                    type="submit"
                    shape="round"
                    class="button-landing close ion-margin-bottom">
                <ion-icon name="close"></ion-icon>
            </ion-button>
            <!-- <ion-button fill="clear" color="white" class="button-clear">
              Trouble logging in?
            </ion-button> -->
        </div>
    </div>
    <video
            id="video"
            autoplay="autoplay"
            preload="auto"
            muted="muted"
            loop="true"
            class="bg-video"
    >
        <source src="assets/video/video.mov" type="video/mp4"/>
    </video>
    <span id="sign-in-button"></span>
</ion-content>
