@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

a {
  color: #fff
}

.logo {
  &__image {
    height: 70px
  }
  &__name {
    font-size: 42px;
    letter-spacing: 2px;
    margin-top: -12px;
  }
}

.moveInBottom {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.main-bg {
  background: url("../../../assets/img/landing-bg.png") no-repeat;
  background-size: cover;
  background-position: 50%;
  //background-position: 60% 50%;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
 }

.link {
  text-decoration: underline;
}

.phone-notice {
  font-weight: 600;
}


ion-input {
  background: #6d656547;
  border-radius: 50px;
}

.phone-form {
  &>.form-group {
    display: flex;
    align-items: center;
    direction: ltr;
  }
  .country-code {
    margin-right: 18px;
  }
}


ion-button {
  &.close {
    width: 54px;
    height: 54px;

    ion-icon {
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  img {
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    height: 18px;
  }
}


.gradient-bg {
  //--background: linear-gradient(to top right, var(--color-tinder-stop1) 0%, var(--color-tinder-stop2) 100%);
  background: linear-gradient(to top, #00000075 20%, #00000000 75%);
  position: absolute;
  width: 100%;
  height: 100%;
}



.section-brand {
  position: relative;
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .logo{
    margin-top: 30vh;
    text-align: center;
    z-index: 9999
  }
}

.section-buttons {
  flex: 0 0 auto;
  text-align: center;
}


.logo {
  font-size: 54px;
}
.logo__subtitle {
  font-size: 22px;
  --ion-font-family: 'Open Sans Hebrew', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Roboto', sans-serif !important;
  font-family: var(--ion-font-family) !important;
  font-weight: 400;
}


.button-clear {
  max-width: 400px;
  margin: 6px auto;
}

ion-button {
  ion-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}



.logo {
  &__subtitle {
    font-size: 18px;
  }
  &__name {
    font-size: 26px;
  }
}