ion-content {
    --background: transparennt;
}

ion-footer {
    margin-bottom: 10px;
}

img {
    display: block;
    margin: 0 auto;
}

swiper {
    height: 100%;
}

ion-icon {
    color: white;
}

.btn-close {
    position: absolute;
    z-index: 9999999;
    ion-icon {
        margin: 0;
        border: 1px solid #fff;
        border-radius: 50%;
        padding: 8px;
    }
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}