form {
  padding-bottom: 48px;
}

.list-custom.last-child {
  margin-bottom: 200px;
}

.btn {
    position: fixed;
    z-index: 99999;
    bottom: 18px;
  }

.preview-container {
  padding: 8px 8px 36px;
}

.btn {
  display: inline-block !important;
}


.text-sm {
  font-size: var(--font-size-sm);
}

.card-border {
  border-radius: var(--swipe-card-border-radius);
  overflow: hidden;

  &.rotate-right {
    animation: rotateRight 250ms ease-in-out;
  }

  &.rotate-left {
    animation: rotateLeft 250ms ease-in-out;
  }
}

ion-footer {
  ion-button {
    margin: 18px;
  }
}

@keyframes rotateRight {
  from {
    transform: perspective(1000px) rotateY(4deg);
  }
  to {
    transform: perspective(1000px) rotateY(0deg);
  }
}

@keyframes rotateLeft {
  from {
    transform: perspective(1000px) rotateY(-4deg);
  }
  to {
    transform: perspective(1000px) rotateY(0deg);
  }
}

@media (min-width: 768px)  {
  ion-button {
    --border-radius: 6px;
    height: 60px;
    font-size: 28px;
    font-weight: 400 !important;
    }

  .list-custom {
    border: none;
  
  }
}

@media (max-width: 768px)  {
  .btn {
    width: 100%;
    border-radius: 0;
    max-width: 100%;
    bottom: 0;
  }
}
