<ion-header class="mobile">
     <ion-toolbar class="toolbar-no-border">
        <ion-buttons slot="start">
            <ion-button (click)="cancel()"> ביטול </ion-button>
        </ion-buttons>
        <!-- <ion-title> ערוך פרופיל </ion-title> -->
        <!-- <ion-buttons slot="end">
            <ion-button (click)="save()"> שמור </ion-button>
        </ion-buttons> -->
    </ion-toolbar>

    <!--<ion-toolbar class="toolbar-no-border">
        <ion-title class="page-title">ערוך פרופיל</ion-title>
        <ion-buttons slot="end">
            <ion-button color="primary" (click)="cancel()">
                ביטול
            </ion-button>
        </ion-buttons>
    </ion-toolbar>-->
</ion-header>
<ion-content class="bg-light" *ngIf="!generalService.isDesktop()">
    <ng-content *ngTemplateOutlet="template"></ng-content>
</ion-content>
    <ng-content *ngTemplateOutlet="generalService.isDesktop()?template:null"></ng-content>

    <ng-template #template>
    <ion-header class="title-margin" collapse="condense desktop">
        <ion-toolbar class="header-custom">
            <ion-title class="page-title">ערוך פרופיל</ion-title>
            <ion-buttons slot="end">
                <ion-button (click)="close()">
                    <ion-icon name="close-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-header collapse="condense mobile">
        <ion-toolbar>
          <ion-title size="large">ערוך פרופיל</ion-title>
        </ion-toolbar>
      </ion-header>
    <!-- <div [ngSwitch]="segmentView" class="full-height"> -->
        <div [ngSwitch]="segmentView">
        <!-- EDIT -->

            <div class="segment-view" *ngSwitchCase="'0'">

                <form [formGroup]="editUser">
                <ion-list class="link list-custom">
                    <ion-list-header>
                        <ion-label>אזור</ion-label>
                    </ion-list-header>
                    <ion-item lines="none" detail="true" (click)="openAreasList()">
                        <ion-label>{{userService.user?.area}}</ion-label>
                    </ion-item>
                </ion-list>

                <ion-list class="link list-custom">
                    <ion-list-header>
                        <ion-label>עיר</ion-label>
                    </ion-list-header>
                    <ion-item lines="none" detail="true" (click)="openCitiesList()">
                        <ion-label>{{userService.user.city}}</ion-label>
                    </ion-item>
                </ion-list>

                <ion-list class="link list-custom">
                    <ion-list-header>
                        <ion-label>נטייה מינית</ion-label>
                    </ion-list-header>
                        <ion-item lines="none" detail="true" (click)="openSexualOrientation()">
                            <ion-label>{{userService.user.sexualOrientation.join()}}</ion-label>
                        </ion-item>
                </ion-list> 
                <ion-list class="link list-custom">
                    <ion-list-header>
                        <ion-label>רוצה להכיר</ion-label>
                    </ion-list-header>
                        <ion-item lines="none" detail="true" (click)="openPreferenceList()">
                            <ion-label>{{userService.user.preference.join()}}</ion-label>
                        </ion-item>
                </ion-list>
                <ion-list class="list-custom">
                    <ion-list-header>
                        <ion-label>מעט עלי/נו</ion-label>
                    </ion-list-header>
                    <ion-item lines="none">
                        <ion-textarea autofocus maxLength="500" name="about" formControlName="about" [(ngModel)]="userService.user.about" rows="8"></ion-textarea>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-note slot="end"> {{ 500 - userService.user.about.length }} </ion-note>
                    </ion-item>
                </ion-list>

                <!-- <ion-list class="link list-custom">
                    <ion-list-header>
                        <ion-label>מחפש/ת</ion-label>
                    </ion-list-header>
                    <ion-item lines="none" (click)="openLookingFor()">
                        <ion-label>{{userService.user.lookingFor.join()}}</ion-label>
                    </ion-item>
                </ion-list> -->
                </form>
                <a (click)="save()"
        class="btn btn-save desktop">
    <span>שמור</span>
    </a>
    <!-- <a (click)="cancel()"
        class="btn btn-cancel desktop">
    <span>ביתול</span>
    </a> -->
            </div>
        <!-- PREVIEW -->
        <div class="segment-view preview-container full-height" *ngSwitchCase="'1'">
            <div class="card-border full-height" *ngIf="showSlides">
            </div>
        </div>
        
    </div>

</ng-template>
<!--
<ion-footer>
    <ion-button (click)="save()"
            expand="block"
            fill="outline"
            type="submit"
            shape="round"
            class="button-landing">
        <span>שמור</span>
    </ion-button>
</ion-footer>
-->

