<ion-header class="mobile">
    <ion-toolbar class="toolbar-no-border">
        <ion-title class="page-title">הגדרות</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="done()">
                בוצע
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="!generalService.isDesktop()">
    <ng-content *ngTemplateOutlet="template"></ng-content>
</ion-content>
    <ng-content *ngTemplateOutlet="generalService.isDesktop()?template:null"></ng-content>

    <ng-template #template>
    <ion-header class="title-margin desktop" collapse="condense">
        <ion-toolbar>
            <ion-title class="page-title">הגדרות</ion-title>
            <ion-buttons slot="end">
                <ion-button (click)="close()">
                    <ion-icon name="close-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-header collapse="condense mobile">
        <ion-toolbar>
          <ion-title size="large">הגדרות</ion-title>
        </ion-toolbar>
      </ion-header>
    <!--<div class="cards-wrapper">
        <ion-card class="card-custom">
            <ion-card-content>
                <div class="plan-title">
                    <ion-icon name="flame" class="color-gold"></ion-icon>
                    <span class="logo-text">Polymory</span>
                    <span class="color-gold logo-text">GOLD</span>
                </div>
                <div>
                    <ion-text>Unlock Our Most Exclusive Features</ion-text>
                </div>
            </ion-card-content>
        </ion-card>
    </div>-->

    <!--<ion-list class="list-custom">
        <ion-item lines="none">
            <ion-icon name="moon-outline" slot="start"></ion-icon>
            <ion-label>Dark Mode</ion-label>
            <ion-toggle color="primary" [(ngModel)]="isDark" (ionChange)="toggleDarkTheme(isDark)"></ion-toggle>
        </ion-item>
    </ion-list>

    <ion-list class="list-custom">
        <ion-item lines="none">
            <ion-label>Age Range</ion-label>
            <ion-note slot="end">
                {{ageRange.lower}}-{{ageRange.upper}}
            </ion-note>
        </ion-item>
        <ion-item lines="none">
            <ion-range dualKnobs="true" [(ngModel)]="ageRange" min="18" max="65" color="primary"></ion-range>
        </ion-item>
    </ion-list>-->

    <ion-list class="list-custom">
        <ion-list-header>
            <ion-label>התראות</ion-label>
        </ion-list-header>
        <ion-item>
            <ion-label>יש לך הודעה חדשה</ion-label>
            <ion-toggle [(ngModel)]="settings?.push.messages"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>צפו בפרופיל שלך</ion-label>
            <ion-toggle [(ngModel)]="settings?.push.views"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>עדכוני האתר</ion-label>
            <ion-toggle [(ngModel)]="settings?.push.updates"></ion-toggle>
        </ion-item>

    </ion-list>


    <ion-list class="list-custom">
        <ion-list-header>
            <ion-label>עזרה</ion-label>
        </ion-list-header>
        <ion-item class="link" lines="none" (click)="contactUs()">
            צור קשר
        </ion-item>
    </ion-list>

    <!--<ion-list class="list-custom">
        <ion-list-header>
            <ion-label>COMMUNITY</ion-label>
        </ion-list-header>
        <ion-item detail="true">
            <ion-label>Community Guidelines</ion-label>
        </ion-item>
        <ion-item detail="true" lines="none">
            <ion-label>Safety Tips</ion-label>
        </ion-item>
    </ion-list>-->
    <ion-list class="list-custom">
        <ion-list-header>
            <ion-label>מידע כללי</ion-label>
        </ion-list-header>
        <ion-item class="link" (click)="getPage('terms-and-conditions')" detail="true">
            <ion-label>תנאי שימוש</ion-label>
        </ion-item>
        <ion-item class="link" (click)="getPage('policy')" detail="true">
            <ion-label>הצהרת פרטיות</ion-label>
        </ion-item>
    </ion-list>

    <ion-list class="list-custom link">
        <ion-item class="ion-text-center" button="true" detail="false" (click)="logout()" lines="none">
            <ion-label>יציאה</ion-label>
        </ion-item>
    </ion-list>

    <div class="ion-text-center mobile ion-padding">
        <div class="title logo-text">
            <!--<img src="assets/img/logo_small.png" width="36" alt="">-->
            polymory
        </div>
        <div>הרסה <!--{{appVersion.getVersionNumber()}}--></div>
    </div>

    <div class="safe-area-bottom">
        <ion-list class="list-custom">
            <ion-item class="ion-text-center link" button="true" detail="false" lines="none">
                <ion-label (click)="freeze()">הקפאת חשבון</ion-label>
            </ion-item>
        </ion-list>
    </div>
</ng-template>
