.in-toolbar {
  --background: #fff;
}

.progress-bar {
  background: #bab9cd7d;
  width: 50%;
  height: 4px;
  border-radius: 50px;
  margin: 0 auto;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 20px;
  span {
    background-color: #7774c5;
    position: absolute;
    height: 4px;
    border-radius: 50px;
  }
}

.ion-slides {

  height: 100%;
  overflow-y: auto;

  form {
    width: 100%;
  }

  .margin-center {
    margin: 0 auto;
  }

  h2 {
    margin: 0;
    font-weight: 500;
  }

  .ion-slide {
    flex-direction: column;

    input {
      display: none;
    }
  }

  ion-slide.jobs-slide {
    display: block;
  }
}


app-code-verification {
  height: 100%;
}

ion-searchbar {
  text-align: right;
}

.cities-list {
  ion-item {
    border-bottom: 1px solid #f2f2f2;
    width: 100%;
    cursor: pointer;
    &:hover {
      color: #7774c5;
    }
  }
}


ion-item,
.cities-list,
.item-option {
  --inner-border-width: 0;
  width: 80%;
  align-self: flex-start;

  ion-label {
    display: block;
  }

  h2 {
    padding: 0;
    font-size: 22px;
  }

  &.has-focus,
  &.item-has-focus {
    border-bottom: 2px solid #fff;
  }
}

/*ion-textarea {
  border: 1px solid;
  border-radius: 8px;
  width: 100%;
  &.item-has-focus {
    border-bottom: 2px solid #2CB9B0;
  }
}*/

h2 {
  font-weight: bold;
  text-align: right;
  padding: 8px;
}

.options {
  width: 100%;
  padding: 0 20px;
  p {
    margin: 0;
  }
}
  

.item-option {
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-primary-rgb);
  border-radius: 50px;
  padding: 14px 0;
  margin: 12px 0;
  text-align: center;
  width: 100%;
  cursor: pointer;
  &.active {
    background: #7774c5;
    --background:#7774c5;
    color: #ffffff;
    border-color: transparent;
  }

  span {
    margin: 0 6px;
  }
}

.option {
  width: 100%;
  //margin: 84px 0;
}

// .smile {
//   font-size: 42px;
//   &-item {
//     padding: 8px 34px;
//     border: 2px solid #ccc;
//     border-radius: 50px;
//     margin: 8px 12px;
//     cursor: pointer;
//     &.active {
//       background-color: #7774c5;
//       color: #fff;
//       border-color: transparent;
//     }
//   }
// }

.done-icon {
  opacity: 0;

  ion-icon {
    font-size: 5rem;
    color: #ae69e1;
  }
}

.register-success {
  padding: 8px;
  text-align: center;
  margin-top: 60px;
}

.input-slide {
  justify-content: flex-start;
}

// .smileys-items {
//   display: flex;
//   justify-content: space-around;
//   flex-wrap: wrap;
// }

.date {
  margin-bottom: 28px;
  display: flex;
  justify-content: space-between;

  .day, .month, .year {
    ion-select {
      background: rgb(242,242,242);
      width: 100%;
    }
    flex-direction: column;
    display: flex;
    align-items: center;
    border-radius: 200px;
    margin: 0 4px;
    width: 100px;
    flex-grow: 1;
    box-sizing: border-box;
  }
}

ion-button.ion-focusable {
  --background-activated: #7774c5;
  --background-focused: #7774c5;
  --background-hover: #7774c5;
}



ion-footer { 
  display: flex;

  .btn-form {
    width: 100%;
    margin: 0 auto;
    flex: 0 0 75%;
    --background: #7774c5;
    --border-radius: 0;
  }

  .btn-full {
    flex: 0 0 100%;
  }
  
  .btn-back {
    flex: 0 0 25%;
    --background-activated: #f0f4fc;
    --background-focused: #f0f4fc;
    --background-hover: #f0f4fc;
    --background: #f0f4fc;
    color: rgb(43, 60, 77);
  }
}



@media (min-width: 768px) {

  ion-footer { 
    top: -89px;
  }



  // .smile-item {
  //   margin: 8px 3px;
  // }

  .pos-center {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .item-option {
    flex: 0 1 31%;
    margin: 1%;
  }

  .options {
  
    ion-list {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .ion-slide {
    height: 100%;
  }

  // form, .form {
  //   &__name, &__birthday {
  //     display: flex;
  //     justify-content: center;
  //     flex-wrap: wrap;
  //     align-content: center;
  //   }
  // }

  form {
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
  }

  .form {
    // height: calc(100% - 100px);
    // display: flex;
    // align-items: center;
    &__city {
      top:30%;
      height: auto;
      position: absolute;
      display: block;
      ion-item {
        width: 80%;
        align-self: flex-start;
        margin: 0 auto;
       
      }
    }
  }
}