<ion-header *ngIf="authService.tab === 'registration'">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button *ngIf="currentIndexSlide === 0" class="mobile" (click)="back()">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>
            <ion-button class="desktop" (click)="close()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>
    
    <!-- <app-sign-in *ngIf="tab === 'sign-in'"></app-sign-in>
    <app-sign-up *ngIf="tab === 'sign-up'"></app-sign-up> -->
    <app-code-verification class="desktop" *ngIf="authService.tab === 'verification'"></app-code-verification>
    <ng-container *ngIf="authService.tab === 'registration'">
    <div class="ion-slides"
         #slides>
        <!-- {{myForm.value | json}} -->
        <div class="ion-slide" *ngIf="currentIndexSlide === 0">
            <form [formGroup]="registrationForm"
                  (ngSubmit)="submit()">
                <input type="text" name="gender" formControlName="gender"/>
                <div class="options">
                        <h2>{{userService.getGender().label}}</h2>
                        <ion-list class="gender">
                            <div *ngFor="let gender of genders; let i = index" (click)="chooseGender(i)"
                                 [ngClass]="{'active': gender.chosen}" class="item-option">
                                <span>{{gender.title}}</span>
                            </div>
                        </ion-list>
                </div>
            </form>
        </div>
        <div class="ion-slide" *ngIf="currentIndexSlide === 1">
            <form [formGroup]="registrationForm"
                  (ngSubmit)="submit()">
                <input type="text" name="sexualOrientation" formControlName="sexualOrientation"/>
                <div class="options">
                   
                        <h2>{{userService.getSexualOrientation().label}}</h2>
                        <p>ניתן לבחור ביותר מאפשרות אחת</p>
                        <ion-list class="sexualOrientation">
                            <div *ngFor="let sexualOrientation of sexualOrientations; let i = index" (click)="chooseSexualOrientation(i)"
                                 [ngClass]="{'active': sexualOrientation.chosen}" class="item-option">
                                <span>{{sexualOrientation.title}}</span>
                            </div>
                        </ion-list>
                </div>
            </form>
        </div>
        <div class="input-slide ion-slide" *ngIf="currentIndexSlide === 2">
            <form [formGroup]="registrationForm">
                <ion-item class="pos-center margin-center" no-lines>
                    <ion-label position="stacked"><h2>{{userService.getUsername().label}}</h2></ion-label>
                    <ion-input #focusable
                            maxLength="25"
                            [value]="user?.username"
                            formControlName="username"
                            class="name-input"
                            name="username"
                            type="text"
                    ></ion-input>
                </ion-item>
            </form>
        </div>

        <div class="ion-slide" *ngIf="currentIndexSlide === 3">
            <form [formGroup]="registrationForm"
                  (ngSubmit)="submit()">
                <div class="options">
                        <h2>רשאים לפנות אלי</h2>
                        <p>ניתן לבחור ביותר מאפשרות אחת</p>
                        <ion-list class="preference">
                            <div *ngFor="let preference of preferences; let i = index" (click)="choosePreference(i)"
                                    [ngClass]="{'active': preference.chosen}" class="item-option">
                                <span>{{preference.title}}</span>
                            </div>
                        </ion-list>
                </div>
            </form>
        </div>

        <div class="input-slide ion-slide" *ngIf="currentIndexSlide === 4">
            <form [formGroup]="registrationForm">
                <div class="pos-center">
                <div no-lines class="birthday-field margin-center">
                    <ion-label position="stacked"><h2>
                        {{ user?.gender == 'זוג' ? userService.getBirthday().label3 :
                        userService.getBirthday().label}}
                    </h2></ion-label>
                    <ng-container *ngIf="generalService.isDesktop()">
                    <div class="date">
                        <div class="day">
                            <ion-label>יום</ion-label>
                            <ion-select value="{{user?.birthday?.split('-')[0]}}"  (ionChange)="setDay($event,'birthday')" interface="popover">
                                <ion-select-option *ngFor="let date of dateRange.date" value="{{addZero(date)}}">
                                    {{addZero(date)}}
                                </ion-select-option>
                            </ion-select>
                        </div>
                        <div class="month">
                            <ion-label>חודש</ion-label>
                            <ion-select value="{{user?.birthday?.split('-')[1]}}" (ionChange)="setMonth($event,'birthday')" interface="popover">
                                <ion-select-option *ngFor="let month of dateRange.month.values; index as indexOfelement;" value="{{addZero(month)}}">
                                    {{dateRange.month.names[indexOfelement]}}
                                </ion-select-option>
                            </ion-select>
                        </div>

                        <div class="year">
                            <ion-label>שנה</ion-label>
                            <ion-select value="{{user?.birthday?.split('-')[2]}}"  (ionChange)="setYear($event,'birthday')" interface="popover">
                                <ion-select-option *ngFor="let year of dateRange.year" value="{{year}}">
                                    {{year}}
                                </ion-select-option>
                            </ion-select>
                        </div>
                    </div>
                </ng-container>
                    <ng-container *ngIf="!generalService.isDesktop()">
                        <ion-datetime #focusable cancel-text="ביטול" done-text="בוצע" name="birthday" formControlName="birthday"></ion-datetime>
                    </ng-container>
                </div>
                <div class="birthday-field margin-center" *ngIf="user?.gender === 'זוג'">
                <ion-label position="stacked"><h2>{{userService.getBirthday1().label3}}</h2></ion-label>
                <ng-container *ngIf="generalService.isDesktop()">
                    <div class="date">
                        <div class="day">
                            <ion-label>יום</ion-label>
                            <ion-select value="{{user?.birthday1?.split('-')[0]}}" (ionChange)="setDay($event,'birthday1')" interface="popover">
                                <ion-select-option *ngFor="let date of dateRange.date" value="{{addZero(date)}}">
                                    {{addZero(date)}}
                                </ion-select-option>
                            </ion-select>
                        </div>
                        <div class="month">
                            <ion-label>חודש</ion-label>
                            <ion-select value="{{user?.birthday1?.split('-')[1]}}" (ionChange)="setMonth($event,'birthday1')" interface="popover">
                                <ion-select-option *ngFor="let month of dateRange.month.values; index as indexOfelement;" value="{{addZero(month)}}">
                                    {{dateRange.month.names[indexOfelement]}}
                                </ion-select-option>
                            </ion-select>
                        </div>
                        <div class="year">
                            <ion-label>שנה</ion-label>
                            <ion-select value="{{user?.birthday1?.split('-')[2]}}" (ionChange)="setYear($event,'birthday1')" interface="popover">
                                <ion-select-option *ngFor="let year of dateRange.year" value="{{year}}">
                                    {{year}}
                                </ion-select-option>
                            </ion-select>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="!generalService.isDesktop()">
                    <ion-datetime cancel-text="ביטול" done-text="בוצע" name="birthday1" formControlName="birthday1"></ion-datetime>
                </ng-container>
                    </div>
                </div>
            </form>
        </div>
        <div class="input-slide ion-slide" *ngIf="currentIndexSlide === 5">
            <form [formGroup]="registrationForm">
                <input name="area" formControlName="area">
                <div class="options pos-center">
                    <h2>{{ userService.getArea().label}}</h2>
                    <ion-list class="{{userService.getArea().class}}">
                        <div
                                *ngFor="let area of areas; let i = index"
                                [attr.data-id]="i"
                                (click)="selectArea(i)"
                                [ngClass]="{'active': area.chosen}"
                                class="item-option">
                            {{area.title}}
                        </div>
                    </ion-list>
                </div>
            </form>
        </div>
        <div class="input-slide ion-slide" *ngIf="currentIndexSlide === 6">
            <form [formGroup]="registrationForm" class="form__city">
                <ion-item class="margin-center" no-lines>
                    <ion-label position="stacked"><h2>{{ userService.getCities().label }}</h2></ion-label>
                <ion-searchbar #focusable placeholder="חפש" (ionInput)="searchCity($event.target)" name="city"
                               formControlName="city"></ion-searchbar>
                </ion-item>
                <ion-list class="cities-list margin-center">
                    <ion-item (click)="chooseCity(city)" *ngFor="let city of filteredCities">{{ city.title }}</ion-item>
                </ion-list>
            </form>
        </div>
        <div class="input-slide ion-slide" *ngIf="currentIndexSlide === 7">
            <form [formGroup]="registrationForm">
                <ion-item no-lines class="margin-center pos-center">
                    <ion-label position="stacked"><h2>
                        {{ userService.getGender().value == 3 ? userService.getAbout().label3 : userService.getAbout().label}}
                    </h2></ion-label>
                    <ion-textarea maxLength="500" rows="10" #focusable name="about" formControlName="about"
                                  placeholder="{{userService.getAbout().placeholder}}"></ion-textarea>
                </ion-item>
            </form>
        </div>
        <!--<div class="register-success ion-slide" *ngIf="currentIndexSlide === 7">
            <div class="done-icon">
                <ion-icon name="checkmark-circle-outline"></ion-icon>
            </div>
            <h1>ההרשמה הושלמה בהצלחה</h1>
            
            <h1>אנא אמת את כתובת המייל שלך</h1>
            <p>על מנת להמשיך את תהליך ההרשמה יש לאמת את כתובת המייל שלך.</p>
            <p>
                <strong>שלחנו מייל עם הוראות לאימות לכתובת הדוא״ל שאיתה נרשמת.</strong>
            </p>
            <p>במידה ואינך רואה את המייל אנא בדוק את תיבת הספאם.</p>
            <p>
                אם בכל זאת לא קיבלת את המייל, אנא צור קשר עם תמיכת האתר בכתובת
                <a href="mailto:contact@polymatch.co.il">contact@polymatch.co.il</a>
            </p>
            
            <ion-button
                    expand="block"
                    fill="outline"
                    shape="round"
                    (click)="goToPhotos()"
            >
                המשך
            </ion-button>
        </div>-->
    </div>
</ng-container>

</ion-content>

<ng-container>
<ion-footer *ngIf="currentIndexSlide != 8 && authService.tab === 'registration'">
    <ion-button  *ngIf="currentIndexSlide != 8 && currentIndexSlide > 0" (click)="back()" class="btn-form btn-back">חזרה</ion-button>
    <ion-button [class.btn-full] = "currentIndexSlide === 0"
    [disabled]="registrationForm.errors" type="submit" (click)="submit()" class="btn-form">המשך</ion-button>
</ion-footer>
</ng-container>
