<ion-content class="profile-page">
    <div class="wrap">
    <div class="profile-header">
        <profile-image-slides *ngIf="showSlides" [images]="images" [user]="profile"></profile-image-slides>
        <ion-buttons slot="start">
            <ion-button class="dismiss" color="primary" (click)="close()">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </div>
    <div class="profile-info border-bottom">
        <div class="profile-title">
      <span class="profile-user-name">
        <span *ngIf="userService.isOnline(profile.lastTimeActive)" class="online-status active"></span>{{profile?.username}}
      </span>
            <span class="profile-user-age">
        <span *ngIf="profile.birthday">{{userService.getAge(profile.birthday)}}</span>
        <span *ngIf="profile.birthday1">,{{userService.getAge(profile.birthday1)}}</span>
      </span>
            
        </div>
        <div class="profile-user-info">
            
            <div class="info-item">
                <ion-icon name="location-outline"></ion-icon>
                {{profile?.area + ', ' + profile?.city}}
            </div>
        </div>
        <div class="profile-user-photos">
            <div class="public-photos" *ngIf="publicPhotos.length > 1">
                <div class="section-title">תמונות ציבוריות</div>
                <div class="image-items">
                <div  *ngFor="let publicPhoto of publicPhotos" class="image-item">
                    <img (click)="getImage(fileUploadService.getBaseUrl(publicPhoto?.url,'l'))" [src]="fileUploadService.getBaseUrl(publicPhoto?.url)" alt="">
                </div>
            </div>
            </div>
            <div class="private-photos" *ngIf="privatePhotos.length > 0">
                <div class="section-title">תמונות פרטיות</div>
                <div id="container" class="image-items">
                <ng-container *ngIf="!imageRequestService?.imageRequest.result?.accepted">
                    <div *ngFor="let privatePhoto of privatePhotos" class="image-item">
                        <ion-icon name="lock-closed-outline" class="lock"></ion-icon>
                        <img class="blur" [src]="userService.getDefaultPhotoPlaceholder(profile)" alt="">
                    </div>
                </ng-container>
                
                <ng-container *ngIf="imageRequestService?.imageRequest.result?.accepted">
                    <div *ngFor="let privatePhoto of privatePhotos" class="image-item">
                        <img (click)="getImage(fileUploadService.getBaseUrl(privatePhoto?.url,'l'))" [src]="fileUploadService.getBaseUrl(privatePhoto?.url)" alt="">
                    </div>
                </ng-container>
                <div *ngIf="!imageRequestService?.imageRequest.result?.accepted" class="unlock">
                    <div class="wrap">
                        <span (click)="imageRequestService.send(profile)" *ngIf="imageRequestService?.imageRequest.empty">בקשת גישה</span>
                        <span *ngIf="!imageRequestService?.imageRequest.empty">הבקשה נשלחה!</span>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="section-title">מגדר</div>
        <div class="passion-list">
        <span>
            {{profile?.gender}}
        </span>
        </div>
        <div class="section-title">מזל</div>
        <div class="passion-list">
        <span>
            {{zodicSignService.getSignByDate(profile?.birthday)}}
        </span>
        </div>
        <div class="section-title">נטייה מינית</div>
        <div class="passion-list">
            <span *ngFor="let sexualOrientation of profile?.sexualOrientation">
                {{sexualOrientation}}
            </span>
        </div>
        <ng-container *ngIf="profile?.smoking">
        <div class="section-title">הרגלי עישון</div>
        <div class="passion-list">
            {{profile?.smoking}}
        </div>
        </ng-container>
        <ng-container *ngIf="profile?.drinking">
            <div class="section-title">הרגלי שתיה</div>
            <div class="passion-list">
                {{profile?.drinking}}
            </div>
        </ng-container>
        <div class="section-title">רוצה להכיר</div>
        <div class="passion-list">
      <span *ngFor="let preference of profile?.preference">
        {{preference}}
      </span>
        </div>
        <div class="section-title">מעט עלי</div>
        <div class="border-bottom">
            {{profile?.about}}
        </div>
    </div>

    <div *ngIf="userService.user.id !== profile.id" class="profile-footer border-bottom">
        <ion-button (click)="setList('blockList')" class="report-btn" fill="clear" expand="block" color="medium"
                    size="small">
            <div class="button-label">
                {{profileBlockLabel}}
            </div>
        </ion-button>
        <ion-button (click)="getReportForm()" class="report-btn" fill="clear" expand="block" color="medium"
                    size="small">
            <div class="button-label">
                דווח על משתמש/ת
            </div>
        </ion-button>
    </div>

    <ion-fab *ngIf="userService.user.id !== profile.id" class="bottom-actions" vertical="bottom" horizontal="center"
             slot="fixed">

        <ion-button (click)="getChat()" color="white" class="button-custom button-icon button-star">
            <ion-icon slot="icon-only" name="chatbubble-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="setList('favorites')" color="white" class="button-custom button-favorite button-lg">
            <span>{{profileFavoriteLabel}}</span>
        </ion-button>
        
        <ion-button (click)="setList('likes', false)" color="white" class="button-custom button-icon button-like">
            <ion-icon *ngIf="!profileILiked" name="heart-outline"></ion-icon>
            <ion-icon *ngIf="profileILiked" name="heart"></ion-icon>
        </ion-button>
    </ion-fab>
</div>
</ion-content>
