<ion-content force-overscroll="false" scrollY="false">
    <div class="header-title">
      <ion-text><strong>רכישת מנוי</strong></ion-text>
    </div>
    <div class="slides-intro">
      <plus-intro *ngIf="showSlides"></plus-intro>
    </div>

    <div class="plans">
      <div *ngFor="let p of paymentService.products; let i = index" (click)="paymentService.purchase(p,i)" [ngClass]="p.isActive ? 'active' : ''" class="price-tag">
        <div *ngIf="p.label" class="label">{{p.label}}</div>
        <div class="plan-name">
          <ion-text [innerHTML]="p.description"></ion-text>
        </div>
        <div class="total">
          {{p.price}}
        </div>
      </div>
    </div>
    <div class="button-group">
      <ion-button shape="round" class="continue" expand="block" (click)="paymentService.choose()">
        <strong>רכישת מנוי</strong>
      </ion-button>

      <ion-button class="btn-close" fill="clear" expand="block" (click)="close()">
        <strong>לא תודה</strong>
      </ion-button>
    </div>
</ion-content>
