.header-title {
  text-align: center;
  margin: 24px auto 16px;
  font-size: 28px;
  color: rgb(119, 116, 197);
}

.slides-intro {
  min-height: 100px;
}


.plans {
  display: flex;
  justify-content: space-around;
}
.price-tag {
  position: relative;
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.19);
  text-align: center;
  flex: 1;
  //border: 1px solid rgb(119, 116, 197);
  padding: 8px;
  border-radius: var(--swipe-card-border-radius);
  background-color: rgba(64, 61, 163, 0.1);

  &.active {
    border: 1px solid rgb(119, 116, 197);
  }

  .label {
    position: absolute;
    background: #7774c5;
    color: #fff;
    padding: 4px 14px;
    top: -18px;
    left: -2px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .num-months {
    font-size: 16px;
  }

  .plan-name {
    font-size: 12px;
    margin-bottom: 8px;
  }

  .number-big {
    font-size: 32px;
  }
}

.button-group {
  margin: 32px auto;
  width: 240px;
  .continue {
    --background: rgb(119, 116, 197);;
  }
}

.btn-close {
  color: #8d8d8d;
}

.text-lg {
  font-size: 16px;
}
