<ion-header>
    <!--<ion-toolbar class="toolbar-no-border toolbar-no-safe-area">
        <ion-segment class="segment-custom" [(ngModel)]="segmentView" mode="md">
            <ion-segment-button value="0">
                <ion-label>
                    Messages
                    <div class="segment-badge">6</div>
                </ion-label>
            </ion-segment-button>
            <ion-segment-button value="1">
                <ion-label>
                    Matches
                    <div class="segment-badge">3</div>
                </ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>-->
    <ion-toolbar>
        <ion-title>הודעות</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar class="header-custom">
            <ion-title size="large">הודעות</ion-title>
        </ion-toolbar>
    </ion-header>
    <div [ngSwitch]="segmentView" class="safe-area-bottom">
        <!-- MESSAGES -->
        <div *ngSwitchCase="'0'">
            <app-inbox></app-inbox>
        </div>

    </div>

</ion-content>
