<ion-header class="header-custom">
  <ion-toolbar class="toolbar-no-border toolbar-no-safe-area">
    <ion-segment class="segment-custom" (click)="getHighlightView()" [(ngModel)]="highlightView" mode="md">
      <ion-segment-button value="0">
        <ion-label>מועדפים</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label>צפו בי<ion-badge>{{counter?.views > 0 ? counter?.views : ''}}</ion-badge></ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- Loading screen -->
  <!--<div class="boost-promotion">
    <ion-text color="boost">קבל עד 100 צפיות נוספות</ion-text>

    <ion-button expand="block" shape="round" color="boost-bg">
      סופר בוסט עכשיו
    </ion-button>
  </div>-->

  <div [ngSwitch]="highlightView" class="safe-area-bottom">
    <!-- LIKES -->
    <div class="segment-view" *ngSwitchCase="0">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">מועדפים</ion-title>
        </ion-toolbar>
      </ion-header>
      <!--<div *ngIf="highlightView && favoriteList" [hidden]="isLoading" class="offer-message">
        שדרג את חשבונך כדי לראות אנשים
        <br />
        שכבר אהבו אותך
      </div>-->

     <!-- <ion-row>
        <div [hidden]="isLoading" class="no-results" *ngIf="!favoriteList">
          <ion-icon name="heart-outline"></ion-icon>
          אין מועדפים
        </div>

        <ion-col size="6" *ngFor="let favorite of favoriteList | async">
          <person-card (click)="viewProfile(favorite)" [data]="favorite"></person-card>
        </ion-col>
      </ion-row>-->


      <div [hidden]="isLoading" class="no-results" *ngIf="favoriteList?.length==0">
        <ion-icon name="heart-outline"></ion-icon>
        אין מועדפים
      </div>
      <ion-item (click)="viewProfile(favorite)" *ngFor="let favorite of favoriteList">
        <ion-avatar slot="start">
          <span *ngIf="userService.isOnline(favorite.lastTimeActive)" class="online-status active"></span>
          <img src="{{userService.getMainPhoto(favorite,'s')}}">
        </ion-avatar>
        <ion-label>
          <h2>{{favorite.username}}, {{userService.getAge(favorite.birthday)}}</h2>
          <p><ion-icon name="location-outline"></ion-icon> {{favorite.area}} </p>
        </ion-label>
      </ion-item>
      <ion-infinite-scroll *ngIf="!userService[this.type].finishLoad" disabled="false" threshold="400px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
                loadingSgetHighlightViewpinner="bubbles"
                loadingText="טוען נתונים...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

    <!-- TOP PICKS -->
    <div class="segment-view" *ngSwitchCase="1">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">צפו בי</ion-title>
        </ion-toolbar>
      </ion-header>
      <!--<div *ngIf="favoriteList" class="offer-message">
        Featured profiles of the day, <br />picked just for you
      </div>-->
      <div class="no-results" *ngIf="viewedList?.length==0"><ion-icon name="eye-outline"></ion-icon>אין צפיות</div>
      <ion-item (click)="viewProfile(viewed)" *ngFor="let viewed of viewedList; index as i">
        <ion-avatar slot="start">
          <span *ngIf="userService.isOnline(viewed.lastTimeActive)" class="online-status active"></span>
          <img src="{{userService.getMainPhoto(viewed,'s')}}">
        </ion-avatar>
        <ion-label>
          <h2>{{viewed.username}}, {{userService.getAge(viewed.birthday)}}</h2>
          <p><ion-icon name="location-outline"></ion-icon> {{viewed.area}} </p>
        </ion-label>
      </ion-item>
      <ion-infinite-scroll *ngIf="!userService[this.type].finishLoad" disabled="false" threshold="400px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="טוען נתונים...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </div>
</ion-content>
