
<ion-header class="mobile">
    <ion-toolbar class="toolbar-no-border">
        <ion-title class="page-title">הגדרות</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="done()">
                בוצע
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="!generalService.isDesktop()">
    <ng-content *ngTemplateOutlet="template"></ng-content>
</ion-content>
    <ng-content *ngTemplateOutlet="generalService.isDesktop()?template:null"></ng-content>
<ng-template #template>
    <ion-header class="title-margin desktop" collapse="condense">
        <ion-toolbar>
            <ion-title class="page-title">תמונות</ion-title>
            <ion-buttons slot="end">
                <ion-button (click)="close()">
                    <ion-icon name="close-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-header collapse="condense mobile">
        <ion-toolbar class="header-custom">
          <ion-title size="large">תמונות</ion-title>
        </ion-toolbar>
      </ion-header>
    <!-- <ion-header class="title-margin desktop" collapse="condense">
        <ion-toolbar>
            <ion-title class="page-title">תמונות</ion-title>
            <ion-buttons slot="end">
                <ion-button color="primary" (click)="close()">
                    <ion-icon name="close-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header> -->
    

    <input style="display: none;" type="file" accept="image/*" (change)="fileChangeEvent($event)"/>

    <div *ngIf="imgLoaded" class="cropped-box">
        <div *ngIf="segment === 1" class="edit-photo">
<!--
                        <image-cropper [imageChangedEvent]="imageChangedEvent" ></image-cropper>
-->

            <image-cropper
            [imageChangedEvent]="imageChangedEvent"
            [imageBase64]="imageBase64"
            [maintainAspectRatio]="true"
            [containWithinAspectRatio]="containWithinAspectRatio"
            [aspectRatio]="1"
            [resizeToWidth]="600"
            [cropperMinWidth]="600"
            [imageQuality]="100"
            [onlyScaleDown]="true"
            [roundCropper]="false"
            [canvasRotation]="canvasRotation"
            [transform]="transform"
            [alignImage]="'center'"
            [style.display]="showCropper ? null : 'none'"
            format="png"
            (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded()"
            (loadImageFailed)="loadImageFailed()"
            ></image-cropper>
        </div>
        <div *ngIf="segment === 2" class="blur-photo">
            <ion-img [src]="croppedImage" alt=""></ion-img>
        </div>
        <div *ngIf="segment === 3" class="mask-photo">
            <!-- <angular-editor-fabric-js #canvas></angular-editor-fabric-js> -->
            <div class="add-image-on-canvas" (click)="setCanvasImage(croppedImage)"></div>
            <div class="card">
                <div class="mask-list">
                    <div class="mask" (click)="addFigure('rectangle')"><span class="rectangle"></span></div>
                    <div class="mask" (click)="addImageOnCanvas('../../../assets/img/masks/1.png');"><img
                            class="images-item" src="../../../assets/img/masks/1.png" alt=""></div>
                    <div class="mask" (click)="addImageOnCanvas('../../../assets/img/masks/2.png');"><img
                            class="images-item" src="../../../assets/img/masks/2.png" alt=""></div>
                    <div class="mask" (click)="addImageOnCanvas('../../../assets/img/masks/3.png');"><img
                            class="images-item" src="../../../assets/img/masks/3.png" alt=""></div>
                </div>
            </div>
        </div>
        <!-- <ion-buttons *ngIf="segment === 1">
            <ion-button (click)="rotateRight()">
                <ion-icon name="sync-outline"></ion-icon>
            </ion-button>
           <ion-range snaps (ionChange)="setZoom()" [(ngModel)]="scale" dir="ltr" min="1" max="10" step="1">
            </ion-range>
        </ion-buttons> -->
        <!-- <div *ngIf="segment === 2" class="blur-field">
            <span>עוצמת טשטוש</span>
            <ion-range snaps (ionChange)="setBlur()" [(ngModel)]="blur" dir="ltr" min="0" max="30" step="10">
            </ion-range>
        </div> -->
        <!-- <ion-buttons class="btn-edit-photos">
            <ion-button (click)="setSegment(1)">
                <ion-icon name="crop-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="setSegment(2)"><img src="../../../assets/icon/blur.svg" alt="My Happy SVG"/>
            </ion-button>
            <ion-button (click)="setSegment(3)"><img src="../../../assets/icon/mask.svg" alt="My Happy SVG"/>
            </ion-button>
        </ion-buttons> -->
        <ion-buttons class="options">
            <div class="btn btn-tertiary" (click)="cancelUpload()">ביטול</div>
            <div class="btn" (click)="rasterize()">
                <ion-spinner *ngIf="uploadingProcess"></ion-spinner>
                <span *ngIf="!uploadingProcess">העלה</span></div>
        </ion-buttons>
    </div>
    <div *ngIf="!imgLoaded" class="photos-edit">
        <div *ngIf="publicPhotos.length === 0" class="upload-image-area">
            <ion-icon class="upload-btn select-image" name="camera-outline" (click)="selectImage($event, true, '')"></ion-icon>
            <a class="btn select-image" (click)="selectImage($event, true, '')">העלאת תמונה</a>
        </div>
        <ion-grid *ngIf="userService.user.photos.length > 0">
            <!-- <h2>ציבוריות</h2> -->
            <ion-row>
                <ion-col size="4" size-md="3" class="photo-item no-photo"
                         *ngFor="let i of [0,1,2,3,4,5]">
                    <div *ngIf="publicPhotos[i]" (click)="selectImage($event, false, publicPhotos[i])"
                         class="photo-image background-img select-image"
                         [defaultImage]="defaultImage"
                         [lazyLoad]="fileUploadService.getBaseUrl(publicPhotos[i].url,'l')">
                        <div class="label-main" *ngIf="publicPhotos[i].main">ראשי</div>
                        <ion-icon *ngIf="publicPhotos[i].status === 0" class="status status-waiting"
                                  name="timer-outline"></ion-icon>
                    </div>
                    <div *ngIf="publicPhotos[i] && !publicPhotos[i].main" (click)="selectImage($event, false, publicPhotos[i])"
                         class="photo-button select-image">
                        <ion-icon name="close" (click)="delete(publicPhotos[i])"></ion-icon>
                    </div>
                    <div *ngIf="!publicPhotos[i]" (click)="selectImage($event,true, '')"
                         class="select-image photo-image background-img"></div>
                    <div *ngIf="!publicPhotos[i]" (click)="selectImage($event, true, '')"
                         class="select-image photo-button photo-button-invert">
                        <ion-icon class="select-image" name="add"></ion-icon>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>

        <div class="rules">
            <p>מידות מינמליות הן 600 על 600 פיקסלים.</p>
            <p>משקל מירבי 20 מגה בפורמט gif, jpg, png.</p>
            <p>נא להוסיף אך ורק תמונות שאתה נמצא בהן באופן אישי, לבוש בצורה נאותה ורואים פנים שלך בצורה ברורה.</p>
        </div>

        <!-- <ion-grid *ngIf="userService.user.photos.length > 0">
            <div class="warning-box">
                <span class="icon"><ion-icon name="alert-circle-outline"></ion-icon></span><p>תמונות עירום,  מיניות או מבחינה אחרת מותרות לשלוח <b>בפרטי</b> בלבד. תמונות שלא יתאימו לקריטוריונים המפורטים ימחקו.</p>
            </div>
            
            <h2>פרטי</h2>
            <ion-row>
                <ion-col size="4" size-md="2" class="photo-item no-photo"
                         *ngFor="let i of [0,1,2,3,4,5]" [attr.data-index]="i">
                    <div *ngIf="privatePhotos[i]" (click)="selectImage($event, false, privatePhotos[i])"
                         class="photo-image background-img select-image"
                         [defaultImage]="defaultImage"
                         [lazyLoad]="fileUploadService.getBaseUrl(privatePhotos[i].url)"
                    >
                        <ion-icon *ngIf="privatePhotos[i].status === 0" class="status status-waiting"
                                  name="timer-outline"></ion-icon>
                    </div>
                    <div *ngIf="privatePhotos[i]" (click)="selectImage($event, false, privatePhotos[i], true)"
                         class="photo-button select-image">
                        <ion-icon name="close" (click)="delete(privatePhotos[i])"></ion-icon>
                    </div>
                    <div *ngIf="!privatePhotos[i]" (click)="selectImage($event,true, '', true)"
                         class="select-image photo-image background-img"></div>
                    <div *ngIf="!privatePhotos[i]" (click)="selectImage($event, true, '', true)"
                         class="select-image photo-button photo-button-invert">
                        <ion-icon class="select-image" name="add"></ion-icon>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid> -->
    </div>


    <!-- <ion-button *ngIf="newUser" class="finish-registration"
                expand="block"
                fill="outline"
                shape="round"
                (click)="goToPhotos()"
    >
        לסיים את ההרשמה
    </ion-button> -->
</ng-template>


