<div id="background"></div>
  <div class="container">
    <div class="section device">
      <h1>
        <span>קבל התראות על הודעות חדשות</span>
        <span>מבצעים ועדכונים באתר.</span>
      </h1>
      <div class="buttons">
        <div (click)="accept()" class="btn">אשר!</div>
        <div (click)="dismiss()" class="btn btn-cancel">לא תודה</div>
      </div>
    </div>
    <div class="section phone">
      <div class="wrap">
        <img src="assets/img/push.png">
        <div class="notification-icon">
          <ion-icon name="notifications-outline"></ion-icon>
        </div>
      </div>
    </div>
  </div>
