.notification-icon {
    box-shadow: rgba(255, 255, 255, .68) 0px 0px 31px 0px;
    border-radius: 50%;
    margin: 0 auto;
    width: 48px;
    height: 48px;
    position: absolute;
    background: #fff;
    left: 20%;
    top: 10%;
    ion-icon {
        position: absolute;
        color: #7774c5;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
    }
}

.wrap {
    position: relative;
}

.container {
    padding: 34px;
    //background: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/portrait-of-friends-at-home-royalty-free-image-1641918672.jpg?crop=0.668xw:1.00xh;0.187xw,0&resize=980:*);
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    .section {
        justify-content: center;
        position: relative;

        h1 {
            color: rgb(43, 60, 77);
            font-size: 24px;
            margin-bottom: 12%;
            line-height: 46px;
        }

    }
    .phone {
        flex: 0 0 40%;
        img {
            height: 400px;
        }
    }

    .headline {
        flex: 0 0 60%;
    }
}

.buttons {
    display: flex;
}

.btn {
    color: #fff;
    border-radius: 20px;
    margin: 0 4px;
    min-width: 120px;
    padding: 6px 0px;
    &.btn-cancel {
        background-color: transparent;
        border: none;
        color: #777;
        box-shadow: none;
    }
}

@media (max-width: 780px) {

    .notification-icon {
        left: 20px;
        top: 38px;
    }
    .container {
        flex-direction: column;

       .section {
        &.phone {
            display: flex;
            flex: auto;
            align-items: center;
        }
       }
       
    }
}


