ion-tab-button {
  .tab-icon-active {
    display: none;
  }

  .tab-icon-inactive {
    display: block;
  }

  &.tab-selected {
    .tab-icon-active {
      display: block;
    }

    .tab-icon-inactive {
      display: none;
    }
  }

  ion-badge {
    --ion-color-base: var(--color-button-boost) !important;
  }

    &.tab-selected {
      color: #7774c5 !important;
      img {
        border: 2px solid #7774c5;
      }
    }

  .rotate-45 {
    transform: rotate(45deg);
  }
}

.profile-img {
  height: 32px;
  border-radius: 50%;
}

ion-tabs {
  padding-top: var(--ion-safe-area-top);
}