.wrap {
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
}

.inbox-title{ 
  font-size: 32px;
}

ion-router-outlet {
    position: relative;
}

.header-custom {
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    --background: RGB(4 3 32 / 98%);
    background: RGB(4 3 32 / 98%);
  
    .title.logo {
      margin: 0;
    }
    ion-icon {
      font-size: 32px;
      color: #fff;
      }
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    nav {
        ul {
            list-style-type: none;
            display: flex;
            font-size: 24px;
            font-weight: 400;
            text-align: center;
            li {
                padding-left: 45px;
                cursor: pointer;
                span.active {
                  border-bottom: 2px solid;
                  border-bottom-color: #7774c5;
                }
            }
        }
    }
  }

  #page {
    display: flex;
    height: 100%;
  }

  aside {
    flex: 1 1 30%;
  }

  main {
    flex: 1 1 70%;
  }