<div>
  <!--<div class="list-header">
      <ion-text color="primary">
          <strong>הודעות</strong>
      </ion-text>
  </div>-->

  <h3 class="inbox-title desktop">
    הודעות <span class="counter" *ngIf="counter?.newMessages > 0">{{counter?.newMessages}}</span>
  </h3>
  <div class="message-list">
      <div *ngIf="inboxList.length === 0 && isLoaded" class="no-results">

          <ion-icon name="chatbubbles-outline"></ion-icon>
          עדיין אין הודעות
      </div>
    <ion-grid>
        <ng-container *ngFor="let message of inboxList">
          <ng-container *ngIf="message | async as message">
            <ion-row (click)="goToChat(message.id, userService.user.id !== message.uid1 ? message.uid1 : message.uid2)" class="ion-align-items-center" >
                  <ion-col size="auto">
                      <random-avatar [user]="message.messages[message.messages.length - 1].user"
                              photo="{{userService.getMainPhoto(message.messages[message.messages.length - 1].user,'s',message.messages[message.messages.length - 1].user.username)}}"
                              [size]="'lg'"></random-avatar>
                  </ion-col>
                  <ion-col class="message-item-text">
                      <div>
                          <div class="user-name"
                               *ngIf="!message.adminExists">{{message.messages[message.messages.length - 1].user.username}} {{userService.getAge(message.messages[message.messages.length - 1].user.birthday)}}
                              <span *ngIf="userService.getAge(message.messages[message.messages.length - 1].user.birthday1)">, {{userService.getAge(message.messages[message.messages.length - 1].user.birthday1)}}</span>
                          </div>
                          <ion-badge class="user-name"
                                     *ngIf="message.adminExists && !userService.user.isAdmin">{{message.messages[message.messages.length - 1].user.username}}
                          </ion-badge>
                          <ion-text
                                  color="medium">

                              <!--<ion-icon
                                      *ngIf="message.messages[message.messages.length - 1].delivered && (userService.user.id === message.messages[message.messages.length - 1].uid)"
                                      name="checkmark-done-circle" color="secondary"></ion-icon>
                              <ion-icon
                                      *ngIf="!message.messages[message.messages.length - 1].delivered && (userService.user.id === message.messages[message.messages.length - 1].uid)"
                                      name="checkmark-outline" color="secondary"></ion-icon>-->
                              {{message.messages[message.messages.length - 1].content}}</ion-text>
                          <ion-text
                                  color="medium"> {{ message.messages[message.messages.length - 1].time }}
                              ,{{ message.messages[message.messages.length - 1].date }}</ion-text>
                          <ion-badge
                                  *ngIf="message.messages[message.messages.length - 1].unreadCounter > 0"
                                  class="counter">{{ message.messages[message.messages.length - 1].unreadCounter }}</ion-badge>
                      </div>
                  </ion-col>
                </ion-row>
          </ng-container>
    </ng-container>

      <ion-infinite-scroll *ngIf="chatService.inbox.currentIndex < chatService.inbox.arrIds.length" disabled="false" threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="טוען נתונים..."></ion-infinite-scroll-content>
      </ion-infinite-scroll>
  </ion-grid>
      <ion-list *ngIf="!isLoaded" id="skeleton">
          <ion-item *ngFor="let item of [].constructor(20)">
              <ion-thumbnail slot="start">
                  <ion-skeleton-text></ion-skeleton-text>
              </ion-thumbnail>
              <ion-label>
                  <h3>
                      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                  </h3>
                  <p>
                      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                  </p>
                  <p>
                      <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                  </p>
              </ion-label>
          </ion-item>
      </ion-list>
      <!-- </ng-container>-->
  </div>
</div>
