:host {
    --border-color-rgb: rgba(var(--ion-color-medium-rgb), 0.1);
  }

  ion-content {
    height: calc(100vh - 70px);
    direction: ltr;

    .message-list {
      direction: rtl;
    }
  }
  
  .border-bottom {
    border-bottom: 1px solid var(--border-color-rgb);
  }

  .chat {
    .bg-tab {
      background: rgba(255, 255, 255, .55);
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 1;
      &.active {
        background: transparent;
        box-shadow: rgba(112, 125, 134, .14) 0px 2px 6px 0px;
      }
    }
  }
  
  
  ion-badge {
    --background: #7774c5;
  
    &.counter {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      left: 20px;
    }
  }

  h3 {
    font-size: 32px;
    font-weight: 400;
    padding: 0 40px;
    .counter {
      height: 28px;
      width: 28px;
      line-height: 28px;
      font-size: 18px;
      background: #7774c5;
      color: #fff;
      display: inline-block;
      text-align: center;
      border-radius: 50%;
    }
  }
 
ion-grid {
  padding-bottom: 80px;
}

ion-row {
    cursor: pointer;
    position: relative;
}

.message-list {
    padding: 6px;
    .message-item-text {
      padding: 16px;
      border-bottom: 1px solid var(--border-color-rgb);
      ion-text {
        .picture-message {
          display: flex;
          align-items: center;
          span {
            display: inherit;
            &.label{
              margin-left: 8px;
            }
          }
        }
        display: block;
        white-space: nowrap;
        width: 12em;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .user-name {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 4px;
      }
    }
  }


  @media (min-width: 768px)  {
    .no-results {
      ion-icon {
        display: none;
      }
      position: relative;
      transform: none;
      left: auto
    }
    ion-row {
      cursor: pointer;
      position: relative;
      padding: 0 20px;
    }
    .message-list {
      .message-item-text {
        ion-text{
          padding-right: 4px;
        }
      }
    }
  }
 