.person-card {
  height: 0;
  padding-top: 200px;
  box-shadow: var(--card-box-shadow);
  border-radius: var(--swipe-card-border-radius);
  position: relative;
  cursor: pointer;

  .card-caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .8), transparent);
    border-radius: 0 0 var(--swipe-card-border-radius) var(--swipe-card-border-radius);
  }

  .num-active-photos {
    span {
      font-size: 12px;
      margin: 0 3px;

    }
    position: absolute;
    top: 6px;
    left: 6px;
    padding: 2px 4px;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, .5);
    border-radius: 4px;
    color: #fff;
  }

  .caption-text {
    line-height: 1.4em;
  }

  .button-star ion-icon {
    color: var(--color-button-star);
    font-size: 20px;
  }

  .online-status {
    position: absolute;
    top: 8px;
    right: 8px;
  }
}


@media(min-width: 768px) {
  .person-card {
    padding-top: 220px;
  }
}

@media(min-width: 1300px) {
  .person-card {
    padding-top: 240px;
  }
}