<div (click)="viewProfile()"
  [defaultImage]="userService.getDefaultPhotoPlaceholder(user)" [lazyLoad]="userService.getMainPhoto(user,'l')"
  class="person-card background-img">
  <span *ngIf="userService.isOnline(user.lastTimeActive)" class="online-status active"></span>
  <div class="card-caption">
    
      <ion-col class="caption-text">
        <div class="caption-title">
          {{user.username}} <span *ngIf="user.birthday">{{userService.getAge(user.birthday)}}</span>
          <span *ngIf="user.birthday1">,{{userService.getAge(user.birthday1)}}</span>
        </div>
      </ion-col>
     <!-- <ion-col size="auto">
        <ion-button color="white" class="button-custom button-icon button-xs button-star">
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-button>
      </ion-col>-->
  </div>
</div>

