<ion-header>
    <ion-toolbar>
        <ion-title>סינון</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="close()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">סינון</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-list class="list-custom">
        <form [formGroup]="filterForm" (ngSubmit)="submit()">
            <ion-list class="list-custom">
                <ion-list-header>
                    <ion-label>גילאים</ion-label>
                </ion-list-header>
                <ion-item lines="none">
                    <ion-range formControlName="ageRange" min="18" max="75" id="dual-range" dual-knobs pin color="dark">
                        <ion-label slot="start">{{f.ageRange.value.lower}}</ion-label>
                        <ion-label slot="end">{{f.ageRange.value.upper}}</ion-label>
                    </ion-range>
                </ion-item>
                
                <!--<ion-list class="list-custom">
                    <ion-list-header>
                        <ion-label>PASSIONS</ion-label>
                    </ion-list-header>
                    <ion-item lines="none" detail="true" (click)="openSelection()">
                        <ion-label>Travel, Instagram, Music</ion-label>
                    </ion-item>
                </ion-list>-->
                <ion-list-header class="clickable">
                    <ion-label>איזור</ion-label>
                </ion-list-header>
                <ion-item class="clickable" (click)="openAreasList()">
                    <div lines="none" detail="true">
                        <ion-label>{{this.filterData.area ? this.filterData.area :'כל האזורים'}}</ion-label>
                    </div>
                </ion-item>
                <ion-radio-group formControlName="typeUsers" value="filterData.typeUsers">
                    <ion-list-header>
                        <ion-label>משתמשים</ion-label>
                    </ion-list-header>
                    <ion-item>
                        <ion-label>כולם</ion-label>
                        <ion-radio slot="end" color="tertiary" value="all"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>עם תמונה בלבד</ion-label>
                        <ion-radio slot="end" color="tertiary" value="withPhoto"></ion-radio>
                    </ion-item>
        
                    <ion-item>
                        <ion-label>אונליין בלבד</ion-label>
                        <ion-radio slot="end" color="tertiary" value="online"></ion-radio>
                    </ion-item>
                  </ion-radio-group>
            </ion-list>
                <ion-buttons>
                    <button
                    type="submit"
                    class="btn">
                        <span>חיפוש</span>
                    </button>
                    <div
                        (click)="reset()"
                        class="btn btn-tertiary">
                    אפס סינון
                    </div>
                </ion-buttons>
        </form>
    </ion-list>
</ion-content>
