ion-toolbar {
  ion-icon {
    font-size: 2rem;
    font-weight: bold;
  }
}

ion-item {
  width: 100%;
  --padding-start: 12px;
  --padding-end: 12px;
  margin: 24px 0;
}

.genders {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .gender {
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid #fff;
    width: 25%;
    text-align: center;
    padding: 8px 0;

    &.active {
      color: #fff;
      background:#7774c5;
    }
  }
}

ion-content ion-button {
  width: 90%;
  margin: 18px auto;
}

ion-buttons {
  justify-content: center;
}

.hidden-input {
  display: none;
}

ion-label {
  font-size: 1rem;
}

ion-range {
  padding: 0;
  --ion-color-base: #7774c5 !important;
}
