.boost-promotion {
  margin: 12px 24px 8px;
  padding: 16px;
  background: linear-gradient(
                  var(--ion-color-white) 0%,
                  rgba(var(--ion-color-boost-rgb), 0.3) 100%
  );
  text-align: center;
  border-radius: 0 0 36px 36px;

  ion-button {
    background: var(--ion-color-boost-gradient);
    border-radius: 25px;
  }
}

.btn-top {
    position: fixed;
    min-width: 48px;
    height: 48px;
    padding: 0px;
    bottom: 20px;
    box-shadow: rgba(0, 0, 0, .5) 0px 0px 31px 0px;
    svg {
      height: 18px;
      margin-top: 14px;
      transform: rotate(180deg);
    }
}

// .safe-area-bottom, 
// .segment-view {
//   height: 100%;
// }

.header-custom {
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;

  .title.logo {
    margin: 0;
    color: var(--color-primary-rgb)
  }
  ion-icon {
    font-size: 32px;
    color: var(--color-primary-rgb)
    }
}

.segment-custom {
  display: flex;
  margin: 0 18px;

  .segment {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
}

.message {
  text-align: center;
  padding: 24px;

  &.warning {
    background: #d85151b5;
  }
}