<ion-slides *ngIf="images.length > 0"
  class="slides" #profileImages
  (ionSlideDidChange)="onSlideChange()"
  (ionSlideReachStart)="onReachStart()"
  (ionSlideReachEnd)="onReachEnd()">
    <ion-slide #slideHeight *ngFor="let item of images" [ngStyle]="{'height' : setSlideHeight}">
      <div *ngIf="(!item.photo?.isPrivate || imageRequestService.imageRequest.result?.accepted) || user.id === userService.user.id" class="slide-img background-img" 
       [lazyLoad]="item.url"></div>
      <div *ngIf="((item.photo?.isPrivate && !imageRequestService.imageRequest.result?.accepted) || (item.photo?.isPrivate && imageRequestService.imageRequest.empty)) && user.id !== userService.user.id" class="slide-img background-img">
       <div class="box">
          <h2>התמונה הזו פרטית</h2>
          <div (click)="imageRequestService.send(user)" *ngIf="imageRequestService.imageRequest.empty" class="btn">בקש גישה לתמונות פרטיות</div>
          <div *ngIf="!imageRequestService.imageRequest.empty">הבקשה נשלחה!</div>
        </div>
      </div>
    </ion-slide>
</ion-slides> 

<div class="custom-pagination">
  <div *ngFor="let bullet of images; let i = index" class="pagination-bullet" [ngClass]="{'pagination-bullet-active': activeIndex === i}"></div>
</div>

<div class="overlay-navigation" *ngIf="isClickable">
  <div class="navi navi-left" (click)="moveSlide(-1)"></div>
  <div class="navi navi-right" (click)="moveSlide(1)"></div>
</div>